#ctx {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    border: 2px solid #000;
}
/* .range_wrapper {
    width: 135px;
    height: 25px;
    padding: 8px;
    border: 1px solid green;
    color: white;
    position: fixed;
    left: 358px;
    top: 66px;
} */
body {
    background: #fff;
    margin: 0;
    padding: 0;
}

.loader {
    margin: 0 auto;
    width: 80%;
    height: 30px;
    padding: 4px;
}

.progress {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    width: 0%;
    height: 100%;
    transition: 0.3s ease-in;
}

.controlWrapper {
    width: auto;
    min-height: 100px;
    display: flex;
    justify-content: center;
}

.control {
    border: 1px solid #000;
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.startBtn, .clearBtn, .screenShotBtn {
    background: #000;
    color: #fff;
    font-size: 24px;
    height: 35px;
    width: 120px;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.dotsCouner, .dotsSize {
    font-size: 24px;
    width: 160px;
}


input[type=checkbox] {
    visibility: hidden;
}
input[type=checkbox]:checked + label {
    transform: rotate(360deg);
    background-color: #000;
    border-color: white;
}
input[type=checkbox]:checked + label:before {
    transform: translateX(30px);
    background-color: #fff;
}

label {
    display: flex;
    width: 60px;
    height: 30px;
    border: 6px solid;
    border-radius: 99em;
    position: relative;
    transition: transform 0.75s ease-in-out;
    transform-origin: 50% 50%;
    cursor: pointer;
}
label:before {
    transition: transform 0.75s ease;
    transition-delay: 0.5s;
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 50%;
    top: 3px;
    left: 3px;
}